@media (max-width: 600px) {
    .inputtext {
	font-size: 8px;
    }
}


body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.inputtext {
    color: white;
    font-size:12px;
}
.floatleft {
    float:left;
}

#whitehr {
    color:#fff;
    background-color:#fff;
}
#controls {
    margin-left: 5px;
}

#levelDescription {
    text-align:center;
}

#joystick-container {
    height: 10%;
    width: 5%;
    border: 2px solid #fff;
    position: absolute;
    top: 750px;
    left: 1500px;
}

.joystick-groove {
    border: 1px solid #ff0000;
}

#joystick {
    color: white;
    width: 20px;
    height: 20px;
}

#textpadding {
    visibility: hidden;
}