
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.inputtext {
    color: white;
    font-size:12px;
}
.floatleft {
    float:left;
}

#whitehr {
    color:#fff;
    background-color:#fff;
}
#controls {
    margin-left: 5px;
}

#levelDescription {
    text-align:center;
}
